@media screen and (max-width: 1400px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  #profile {
    height: auto;
    margin-bottom: 6rem;
    flex-direction: column;
    align-items: center;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .section__pic-container {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto 1rem;
  }

  .section__pic-container img.about-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: auto;
  }

  .nav-links,
  .menu-links ul {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .logo {
    font-size: 1.5rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  article {
    font-size: 1rem;
  }

  .text-container {
    text-align: justify;
  }

  .btn-container,
  .about-containers,
  .contact-info-upper-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a,
  .menu-links a {
    font-size: 1rem;
  }

  #contact,
  footer {
    height: fit-content;
    padding-bottom: 2rem;
  }

  footer nav {
    height: auto;
  }
}
